*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0px 30px;
}
nav{
    margin-top: 10px;
    display: flex;
    top: 1px;
    justify-content: center;
    margin-bottom: 20px;
}
#search{
    padding: 0px 20px;
    width: 500px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: 1px solid black;
    height: 40px;
}
#search:hover{
    border: 1px solid rgb(231, 68, 68);;
}
button > img{
    width: 20px;
}
#btn{
    border: 1px solid black;
    width: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}
.food-containt{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    gap: 5px;
    justify-content: center;
    justify-items: center;
}

.load-data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    text-align: center;
    gap: 20px;
}
.imges{
    border-radius: 10px;
    width: 300px;
    height: 250px;
   
}
.pp{
    margin-bottom: 15px;
}
#model{
    display: none;
    border: 1px solid black;
    position: absolute;
    width: 1200px;
    height: 400px;
    background-color: rgb(221, 215, 215);
    top: 20px;
    left: 80px;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}
#md{
    display: flex;
    margin: 30px 30px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
}
  .selected-img{
    width: 300px;
    height: 250px;
  }